<html>

{% include 'admin/partials/head.html' %}
<body>

<div class="main-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5 mx-auto">
        <form method="post" action="{% url 'admin_password_reset' %}">
          {% csrf_token %}
          <div class="card p-sm-4 my-5">
            <div class="card-body text-center">
              <h3 class="mb-2">Admin Password Reset</h3>
              <p>Enter the admin email to receive reset instructions.</p>
              <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control" name="email" required>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-lg btn-linear-primary w-100">Submit</button>
              </div>
              <p>Remember Password? <a href="{% url 'admin_signin' %}" class="text-primary">Sign In</a></p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
 {% include "admin/partials/footer-scripts.html" %}

</body>
</html>