<html>

{% include 'admin/partials/head.html' %}
<body>

<body class="authentication-page">
  <div class="main-wrapper">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-5 mx-auto">
          <div class="card p-sm-4 my-5">
            <div class="card-body text-center">
              <h3 class="mb-2">Check your email (admin)</h3>
              <p>We've emailed admin reset instructions. If you don't see the email, check spam.</p>
              <div class="mb-3 d-flex justify-content-center">
                <a href="{% url 'admin_signin' %}" class="btn btn-lg btn-linear-primary w-50">Back to Sign In</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% include 'admin/partials/footer-scripts.html' %}

</body>
</html>