{% load static %}
<!DOCTYPE html>
<html lang="en">

	{% include "provider/partials/head.html" %}

<body class="authentication-page">
	<div class="authentication-header">
		<div class="container">
			<div class="col-md-12 text-center">
				<img src="{% static 'assets/img/logo.svg' %}" alt="logo">
			</div>
		</div>
	</div>

	<div class="main-wrapper">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5 mx-auto">
					<div class="card p-sm-4 my-5">
						<div class="card-body text-center">
							<h3>Password reset email sent</h3>
							<p>If an account with that email exists and is a provider, you will receive an email with further instructions.</p>
							<p><a href="{% url 'provider_login' %}" class="text-primary">Back to sign in</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
