{% extends "provider/base.html" %}
{% load static %}
{% block content %}

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
                    <h4>Earnings</h4>
                    <div class="d-flex align-items-center flex-wrap row-gap-3">
                        <span class="fs-14 me-2">Sort</span>
                        <div class="dropdown me-2">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                                Newly Added
                            </a>
                            <div class="dropdown-menu">
                                <a href="javascript:void(0);" class="dropdown-item active">Newly Added</a>
                                <a href="javascript:void(0);" class="dropdown-item">Oldest</a>
                            </div>
                        </div>
                        <div class="dropdown me-2">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                                Export
                            </a>
                            <div class="dropdown-menu">
                                <a href="javascript:void(0);" class="dropdown-item active">Export</a>
                                <a href="javascript:void(0);" class="dropdown-item">Import</a>
                            </div>
                        </div>
                        <a href="javascript:void(0);"
                            class="tags d-flex justify-content-center align-items-center border rounded me-2"><i
                                class="ti ti-printer"></i></a>
                        <a href="javascript:void(0);"
                            class="tags d-flex justify-content-center align-items-center border rounded"
                            id="filter_search"><i class="ti ti-sort-descending"></i></a>
                    </div>
                </div>
                <div id="filter_inputs">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-xl">
                            <div class="mb-3">
                                <div class="sel-cal Calendar-icon">
                                    <span><i class="ti ti-calendar-month"></i></span>
                                    <input class="form-control datetimepicker" type="text" placeholder="dd-mm-yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xl">
                            <div class="mb-3">
                                <select class="select">
                                    <option>Services</option>
                                    <option>Computer Repairs</option>
                                    <option>Plumbing</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xl">
                            <div class="mb-3">
                                <select class="select">
                                    <option>Name</option>
                                    <option>Jacob Kline</option>
                                    <option>William Smith</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xl">
                            <div class="mb-3">
                                <select class="select">
                                    <option>Code</option>
                                    <option>1</option>
                                    <option>2</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-xl">
                            <div class="mb-3">
                                <select class="select">
                                    <option>Status</option>
                                    <option>Paid</option>
                                    <option>Pending</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="provide-table manage-table">
                        <div class="table-responsive">
                            <table class="table  datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Service</th>
                                        <th>Earned Amount</th>
                                        <th>Date</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="avatar avatar-lg me-2">
                                                    <img src="assets/img/providers/provider-15.jpg" class="rounded"
                                                        alt="user">
                                                </span>
                                                <h6 class="fs-14">Computer Repair</h6>
                                            </div>
                                        </td>
                                        <td>$50</td>
                                        <td>28 Sep 2024</td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-earning"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="avatar avatar-lg me-2">
                                                    <img src="assets/img/providers/provider-17.jpg" class="rounded"
                                                        alt="user">
                                                </span>
                                                <h6 class="fs-14">Steam Car Wash</h6>
                                            </div>
                                        </td>
                                        <td>$60</td>
                                        <td>02 Oct 2024</td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-earning"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="avatar avatar-lg me-2">
                                                    <img src="assets/img/providers/provider-19.jpg" class="rounded"
                                                        alt="user">
                                                </span>
                                                <h6 class="fs-14">House Cleaning </h6>
                                            </div>
                                        </td>
                                        <td>$50</td>
                                        <td>28 Sep 2024</td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-earning"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="avatar avatar-lg me-2">
                                                    <img src="assets/img/providers/provider-14.jpg" class="rounded"
                                                        alt="user">
                                                </span>
                                                <h6 class="fs-14">Building Construction</h6>
                                            </div>
                                        </td>
                                        <td>$30</td>
                                        <td>15 Oct 2024</td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-earning"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="avatar avatar-lg me-2">
                                                    <img src="assets/img/providers/provider-16.jpg" class="rounded"
                                                        alt="user">
                                                </span>
                                                <h6 class="fs-14">Interior Designing</h6>
                                            </div>
                                        </td>
                                        <td>$40</td>
                                        <td>26 Oct 2024</td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-earning"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="avatar avatar-lg me-2">
                                                    <img src="assets/img/providers/provider-23.jpg" class="rounded"
                                                        alt="user">
                                                </span>
                                                <h6 class="fs-14">Plumbing Services</h6>
                                            </div>
                                        </td>
                                        <td>$80</td>
                                        <td>12 Nov 2024</td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-earning"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <span class="avatar avatar-lg me-2">
                                                    <img src="assets/img/providers/provider-13.jpg" class="rounded"
                                                        alt="user">
                                                </span>
                                                <h6 class="fs-14">Car Repair Services</h6>
                                            </div>
                                        </td>
                                        <td>$40</td>
                                        <td>18 Nov 2024</td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                                <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-earning"><i class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3">
                        <div class="value d-flex align-items-center">
                            <span>Show</span>
                            <select>
                                <option>7</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="me-2 text-gray-9">1 - 07 of 10</span>
                            <nav aria-label="Page navigation">
                                <ul class="paginations d-flex justify-content-center align-items-center">
                                    <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="javascript:void(0);">1</a></li>
                                    <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">2</a></li>
                                    <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">3</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Wrapper -->

        <!-- Delete Staff -->
        <div class="modal fade custom-modal" id="del-earning">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Delete Earnings</h5>
                        <a href="#" data-bs-dismiss="modal" aria-label="Close"><i
                                class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
                    <div class="modal-body">
                        <div class="write-review">
                            <form action="https://truelysell.dreamstechnologies.com/html/template/provider-earnings.html">
                                <p>Are you sure want to delete this Earning?</p>
                                <div class="modal-submit text-end">
                                    <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                                    <button type="submit" class="btn btn-dark">Yes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Delete Staff -->

    </div>
    <!-- /Main Wrapper -->
{% endblock %}