{% extends "provider/base.html" %}
{% load static %}
 {% block content %}

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="row">
					<div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
						<h5>Social Profiles</h5>
					</div>
				</div>
				<!-- Social Profiles -->
				<div class="row">
					<div class="col-12">
						<div class="row align-items-center">
							<div class="col-xl-5 col-lg-5 col-sm-12">
								<div class="mb-3">
									<label class="form-label">Name</label>
									<select class="select">
										<option>Select</option>
										<option>Facebook</option>
										<option>Instagram</option>
									</select>
								</div>
							</div>
							<div class="col-xl-6 col-lg-5 col-sm-12">
								<div class="mb-3">
									<label class="form-label">URL</label>
									<select class="select">
										<option>Select</option>
										<option>www.facebook.com</option>
										<option>www.instagram.com</option>
									</select>
								</div>
							</div>
							<div class="col-xl-1 col-lg-2 col-sm-12">
								<label>&nbsp;</label>
								<div class=" d-flex align-items-center form-check form-switch mb-3">
									<input type="checkbox" id="status-1" class="form-check-input" >
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-xl-5 col-lg-5 col-sm-12">
								<div class="mb-3">
									<label class="form-label">Name</label>
									<select class="select">
										<option>Select</option>
										<option>Facebook</option>
										<option>Instagram</option>
									</select>
								</div>
							</div>
							<div class="col-xl-6 col-lg-5 col-sm-12">
								<div class="mb-3">
									<label class="form-label">URL</label>
									<select class="select">
										<option>Select</option>
										<option>www.facebook.com</option>
										<option>www.instagram.com</option>
									</select>
								</div>
							</div>
							<div class="col-xl-1 col-lg-2 col-sm-12">
								<label>&nbsp;</label>
								<div class=" d-flex align-items-center form-check form-switch mb-3">
									<input type="checkbox" id="status-two" class="form-check-input" >
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-xl-5 col-lg-5 col-sm-12">
								<div class="mb-3">
									<label class="form-label">Name</label>
									<select class="select">
										<option>Select</option>
										<option>Facebook</option>
										<option>Instagram</option>
									</select>
								</div>
							</div>
							<div class="col-xl-6 col-lg-5 col-sm-12">
								<div class="mb-3">
									<label class="form-label">URL</label>
									<select class="select">
										<option>Select</option>
										<option>www.facebook.com</option>
										<option>www.instagram.com</option>
									</select>
								</div>
							</div>
							<div class="col-xl-1 col-lg-2 col-sm-12">
								<label>&nbsp;</label>
								<div class=" d-flex align-items-center form-check form-switch mb-3">
									<input type="checkbox" id="status-3" class="form-check-input" >
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-xl-5 col-lg-5 col-sm-12">
								<div class="mb-3">
									<label class="form-label">Name</label>
									<select class="select">
										<option>Select</option>
										<option>Facebook</option>
										<option>Instagram</option>
									</select>
								</div>
							</div>
							<div class="col-xl-6 col-lg-5 col-sm-12">
								<div class="mb-3">
									<label class="form-label">URL</label>
									<select class="select">
										<option>Select</option>
										<option>www.facebook.com</option>
										<option>www.instagram.com</option>
									</select>
								</div>
							</div>
							<div class="col-xl-1 col-lg-2 col-sm-12">
								<label>&nbsp;</label>
								<div class=" d-flex align-items-center form-check form-switch mb-3">
									<input type="checkbox" id="status-4" class="form-check-input" >
								</div>
							</div>
						</div>
						<div class="row align-items-center">
							<div class="col-xl-5 col-lg-5 col-sm-12">
								<div class="mb-3">
									<label class="form-label">Name</label>
									<select class="select">
										<option>Select</option>
										<option>Linkedin</option>
										<option>Instagram</option>
									</select>
								</div>
							</div>
							<div class="col-xl-6 col-lg-5 col-sm-12">
								<div class="mb-3">
									<label class="form-label">URL</label>
									<select class="select">
										<option>Select</option>
										<option>www.Linedin.com</option>
										<option>www.instagram.com</option>
									</select>
								</div>
							</div>
							<div class="col-xl-1 col-lg-2 col-sm-12">
								<label>&nbsp;</label>
								<div class=" d-flex align-items-center form-check form-switch mb-3">
									<input type="checkbox" id="status-5" class="form-check-input" >
								</div>
							</div>
						</div>

						<div class="acc-submit d-flex justify-content-end">
							<a href="javascript:void(0);" class="btn btn-light me-3">Cancel</a>
							<a href="javascript:void(0);" class="btn btn-dark">Save Changes</a>
						</div>
					</div>
				</div>
				<!-- /Social Profiles -->



			</div>
		</div>
		<!-- /Page Wrapper -->

		<!-- Delete Account -->
        <div class="modal fade custom-modal" id="del-account">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Delete Account</h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
                    <form action="javascript:void(0);">
                        <div class="modal-body">
                            <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type your password.</p>
                            <div class="mb-0">
                                <label class="form-label">Password</label>
                                <div class="pass-group">
                                    <input type="password" class="form-control pass-input" placeholder="*************">
                                    <span class="toggle-password feather-eye-off"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-dark">Delete Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Delete Account -->

	</div>
{% endblock %}