{% extends "provider/base.html" %}
{% load static %}
 {% block content %}

		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="row">
					<div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
						<h5>Notifications</h5>
					</div>
				</div>
				<div class="row justify-content-center">
					<div class="col-xl-12 col-lg-12">
						<!-- General Notification -->
						<div class="custom-datatable-filter table-responsive notification">
							<table class="table datatable">
								<thead class="thead-light">
									<tr>

										<th>General Notifications</th>
										<th>Push</th>
										<th>Email</th>
										<th>SMS </th>
									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<p>General Notifications Newsletter</p>
											<span class="fs-12 text-gray">Manage notification settings for timely newsletter updates.</span>
										</td>

										<td>
											<div class="  d-flex align-items-center form-check form-switch">
												<input type="checkbox" id="status-1" class="form-check-input" checked>
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-2" class="form-check-input" checked>
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-3" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>

										<td>
											<p>Daily Updates</p>
											<span class="fs-12 text-gray">Set your notification preferences for daily updates.</span>
										</td>

										<td>
											<div class="  d-flex align-items-center form-check form-switch">
												<input type="checkbox" id="status-4" class="form-check-input" checked>
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-5" class="form-check-input" checked>
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-6" class="form-check-input" >
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /General Notification -->

						<!-- Booking Notification -->
						<div class="custom-datatable-filter table-responsive notification">
							<table class="table datatable">
								<thead class="thead-light">
									<tr>

										<th>Booking</th>
										<th>Push</th>
										<th>Email</th>
										<th>SMS </th>
									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<p>Booking Request</p>
											<span class="fs-12 text-gray">Enable notifications to stay updated on your booking requests.</span>
										</td>

										<td>
											<div class="  d-flex align-items-center form-check form-switch">
												<input type="checkbox" id="status-7" class="form-check-input" >
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-8" class="form-check-input" checked>
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-9" class="form-check-input" checked>
											</div>
										</td>
									</tr>
									<tr>

										<td>
											<p>Booking Status</p>
											<span class="fs-12 text-gray">Get instant notifications on your booking status.</span>
										</td>

										<td>
											<div class="  d-flex align-items-center form-check form-switch">
												<input type="checkbox" id="status-10" class="form-check-input" checked>
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-11" class="form-check-input" checked>
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-12" class="form-check-input" >
											</div>
										</td>
									</tr>
									<tr>

										<td>
											<p>Refund Request</p>
											<span class="fs-12 text-gray">Receive updates on your refund request status instantly.</span>
										</td>

										<td>
											<div class="  d-flex align-items-center form-check form-switch">
												<input type="checkbox" id="status-13" class="form-check-input" >
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-14" class="form-check-input" checked>
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-15" class="form-check-input" >
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /Booking Notification -->

						<!-- Subscription  Notification -->
						<div class="custom-datatable-filter table-responsive notification">
							<table class="table datatable">
								<thead class="thead-light">
									<tr>

										<th>Subscription </th>
										<th>Push</th>
										<th>Email</th>
										<th>SMS </th>
									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<p>Subscription Notification</p>
											<span class="fs-12 text-gray">Stay updated with notifications about your subscription.</span>
										</td>

										<td>
											<div class="  d-flex align-items-center form-check form-switch">
												<input type="checkbox" id="status-16" class="form-check-input" >
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-17" class="form-check-input" checked>
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-18" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /Subscription  Notification -->

						<!-- Wallet  Notification -->
						<div class="custom-datatable-filter table-responsive notification mb-0">
							<table class="table datatable">
								<thead class="thead-light">
									<tr>

										<th>Wallet </th>
										<th>Push</th>
										<th>Email</th>
										<th>SMS </th>
									</tr>
								</thead>
								<tbody>
									<tr>

										<td>
											<p>Wallet Notification</p>
											<span class="fs-12 text-gray">Get notifications for all wallet transactions and updates.</span>
										</td>

										<td>
											<div class="  d-flex align-items-center form-check form-switch">
												<input type="checkbox" id="status-19" class="form-check-input" >
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-20" class="form-check-input" checked>
											</div>
										</td>
										<td>
											<div class="  d-flex align-items-center form-check form-switch">
											<input type="checkbox" id="status-21" class="form-check-input" checked>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /Wallet  Notification -->
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Wrapper -->

		<!-- Add coupons -->
		<div class="modal fade wallet-modal" id="add-coupons" data-bs-backdrop="static" data-bs-keyboard="false"
			tabindex="-1"  aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header d-flex align-items-center justify-content-between  border-0">
						<h5>Add Coupon</h5>
						<a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
								class="ti ti-circle-x-filled fs-20"></i></a>
					</div>
					<form action="https://truelysell.dreamstechnologies.com/html/template/provider-coupons.html">
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<div class="mb-3">
										<label class="form-label">Services</label>
										<select class="select">
											<option>Select</option>
											<option>Car Repair</option>
											<option>Interior Designing</option>
											<option>House Cleaning</option>
										</select>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Coupon Name</label>
												<input type="text" class="form-control">
											</div>
										</div>
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Code</label>
												<input type="text" class="form-control">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Coupon Type</label>
												<select class="select">
													<option>Select</option>
													<option>Percentage</option>
													<option>Fixed</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Discount</label>
												<div class=" input-icon position-relative">
													<span class="input-icon-addon"><i
															class="ti ti-square-rounded-percentage"></i></span>
													<input type="text" class="form-control">
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Start Date</label>
												<div class=" input-icon position-relative">
													<span class="input-icon-addon"><i class="ti ti-calendar"></i></span>
													<input type="text" class="form-control datetimepicker"
														placeholder="dd-mm-yyyy">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">End Date</label>
												<div class=" input-icon position-relative">
													<span class="input-icon-addon"><i class="ti ti-calendar"></i></span>
													<input type="text" class="form-control datetimepicker"
														placeholder="dd-mm-yyyy">
												</div>
											</div>
										</div>
									</div>
									<div class="row align-items-center justify-content-center">
										<div class="col-md-6">
											<div class="mb-3">
												<label class="form-label">Company Name</label>
												<select class="select">
													<option>Select</option>
													<option>Black Friday</option>
													<option>Valentines</option>
												</select>
											</div>
										</div>
										<div class="col-md-6">
											<div class="d-flex align-items-center justify-content-center">
												<div class="form-check form-switch d-flex align-items-center">
													<input class="form-check-input me-1" type="checkbox" role="switch" id="switch-sm" checked>
													<h6 class="fs-14">Once per Customer</h6>
												  </div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="d-flex  flex-column">
												<label class="form-label">End Date</label>
												<div class="d-flex">
													<div class="form-check me-2">
													<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
													<label class="form-check-label" for="flexRadioDefault1">
														Active
													</label>
												  </div>
												  <div class="form-check">
													<input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
													<label class="form-check-label" for="flexRadioDefault2">
														Inactive
													</label>
												  </div>
												</div>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</form>
					<div class="modal-footer">
						<button type="button" class="btn bg-gray" data-bs-dismiss="modal">Cancel</button>
						<button type="button" class="btn btn-dark">Submit</button>
					</div>
				</div>
			</div>
		</div>
		<!-- /Add coupons -->

		<!-- Delete Account -->
        <div class="modal fade custom-modal" id="del-account">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Delete Account</h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
                    <form action="#">
                        <div class="modal-body">
                            <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type your password.</p>
                            <div class="mb-0">
                                <label class="form-label">Password</label>
                                <div class="pass-group">
                                    <input type="password" class="form-control pass-input" placeholder="*************">
                                    <span class="toggle-password feather-eye-off"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-dark">Delete Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Delete Account -->

	</div>
{% endblock %}