{% extends "provider/base.html" %}
{% load static %}
{% block content %}

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="row">
                    <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
                        <h4>Reviews</h4>
                        <div class="d-flex align-items-center">
                            <span class="fs-14 me-2">Sort</span>
                            <div class="dropdown me-2">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                                    Newly Added
                                </a>
                                <div class="dropdown-menu">
                                    <a href="javascript:void(0);" class="dropdown-item active">Newly Added</a>
                                    <a href="javascript:void(0);" class="dropdown-item">Oldest</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xxl-12 col-lg-12">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div class="review-widget d-sm-flex flex-fill">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex">
                                                <span class="review-img me-2">
                                                    <img src="assets/img/providers/provider-22.jpg" class="rounded img-fluid" alt="User Image">
                                                </span>
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                                        <div class="d-flex align-items-center">
                                                            <h6 class="fs-14 me-2">Building Construction Services.</h6>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <span class="avatar avatar-sm me-2">
                                                            <img src="assets/img/user/user-10.jpg" class="rounded-circle " alt="Img">
                                                        </span>
                                                        <h6 class="fs-13 me-2">Jeffrey Akridge,</h6>
                                                        <span class="fs-12">July 11, 2024 11:38 am</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-review"><i class="ti ti-trash"></i></a>
                                    </div>
                                </div>
                                <div>
                                    <p class="fs-14">
                                        The construction service delivered excellent craftsmanship, completing my home renovation on time with clear communication throughout. Highly recommend for quality and professionalism!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-lg-12">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div class="review-widget d-sm-flex flex-fill">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex">
                                                <span class="review-img me-2">
                                                    <img src="assets/img/providers/provider-20.jpg" class="rounded img-fluid" alt="User Image">
                                                </span>
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                                        <div class="d-flex align-items-center">
                                                            <h6 class="fs-14 me-2">Commercial Painting Services.</h6>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <span class="avatar avatar-sm me-2">
                                                            <img src="assets/img/user/user-11.jpg" class="rounded-circle " alt="Img">
                                                        </span>
                                                        <h6 class="fs-13 me-2">Nancy Olson,</h6>
                                                        <span class="fs-12">July 18, 2024 04:30 pm</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-review"><i class="ti ti-trash"></i></a>
                                    </div>
                                </div>
                                <div>
                                    <p class="fs-14">The commercial painting service provided outstanding results, with precise attention to detail and timely completion. Their professionalism and quality of work are top-notch!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-lg-12">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div class="review-widget d-sm-flex flex-fill">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex">
                                                <span class="review-img me-2">
                                                    <img src="assets/img/providers/provider-23.jpg" class="rounded img-fluid" alt="User Image">
                                                </span>
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                                        <div class="d-flex align-items-center">
                                                            <h6 class="fs-14 me-2">Plumbing Services.</h6>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <span class="avatar avatar-sm me-2">
                                                            <img src="assets/img/user/user-12.jpg" class="rounded-circle " alt="Img">
                                                        </span>
                                                        <h6 class="fs-13 me-2">Ramona Kingsley, </h6>
                                                        <span class="fs-12">July 28, 2024 02:15 pm</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-review"><i class="ti ti-trash"></i></a>
                                    </div>
                                </div>
                                <div>
                                    <p class="fs-14">
                                        The plumbing service was efficient and reliable, quickly resolving the issue with excellent workmanship. Highly recommend for their prompt and professional service!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-lg-12">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div class="review-widget d-sm-flex flex-fill">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex">
                                                <span class="review-img me-2">
                                                    <img src="assets/img/providers/provider-24.jpg" class="rounded img-fluid" alt="User Image">
                                                </span>
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                                        <div class="d-flex align-items-center">
                                                            <h6 class="fs-14 me-2">Wooden Carpentry Work.</h6>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <span class="avatar avatar-sm me-2">
                                                            <img src="assets/img/user/user-02.jpg" class="rounded-circle " alt="Img">
                                                        </span>
                                                        <h6 class="fs-13 me-2">Ricardo Lung,</h6>
                                                        <span class="fs-12">August 01, 2024 10:00 am</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-review"><i class="ti ti-trash"></i></a>
                                    </div>
                                </div>
                                <div>
                                    <p class="fs-14">
                                        The carpentry service exceeded my expectations with their meticulous attention to detail and superior craftsmanship. They completed the project on time, and the final results were both functional and aesthetically pleasing.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-lg-12">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div class="review-widget d-sm-flex flex-fill">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex">
                                                <span class="review-img me-2">
                                                    <img src="assets/img/providers/provider-25.jpg" class="rounded img-fluid" alt="User Image">
                                                </span>
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                                        <div class="d-flex align-items-center">
                                                            <h6 class="fs-14 me-2">Air Conditioner Service.</h6>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <span class="avatar avatar-sm me-2">
                                                            <img src="assets/img/user/user-13.jpg" class="rounded-circle " alt="Img">
                                                        </span>
                                                        <h6 class="fs-13 me-2">Annette Silva,</h6>
                                                        <span class="fs-12">August 12, 2024 11:40 am</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-review"><i class="ti ti-trash"></i></a>
                                    </div>
                                </div>
                                <div>
                                    <p class="fs-14">The air conditioning service was excellent, with prompt and thorough maintenance that restored my system to peak performance. Their technicians were professional and efficient, making the entire experience hassle-free.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-lg-12">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div class="review-widget d-sm-flex flex-fill">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex">
                                                <span class="review-img me-2">
                                                    <img src="assets/img/providers/provider-14.jpg" class="rounded img-fluid" alt="User Image">
                                                </span>
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                                        <div class="d-flex align-items-center">
                                                            <h6 class="fs-14 me-2">Toughened Glass Fitting Services.</h6>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <span class="avatar avatar-sm me-2">
                                                            <img src="assets/img/user/user-01.jpg" class="rounded-circle " alt="Img">
                                                        </span>
                                                        <h6 class="fs-13 me-2">Stephen Wilson,</h6>
                                                        <span class="fs-12">August 20, 2024 01:15 pm</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-review"><i class="ti ti-trash"></i></a>
                                    </div>
                                </div>
                                <div>
                                    <p class="fs-14">
                                        The toughened glass fitting service was outstanding, delivering precise installation with high-quality materials. Their attention to detail and professionalism ensured a flawless finish and timely completion.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-12 col-lg-12">
                        <div class="card shadow-none">
                            <div class="card-body">
                                <div class="d-md-flex align-items-center">
                                    <div class="review-widget d-sm-flex flex-fill">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <div class="d-flex">
                                                <span class="review-img me-2">
                                                    <img src="assets/img/providers/provider-13.jpg" class="rounded img-fluid" alt="User Image">
                                                </span>
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center mb-2">
                                                        <div class="d-flex align-items-center">
                                                            <h6 class="fs-14 me-2">Car Repair Services.</h6>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                            <span><i class="ti ti-star-filled text-warning"></i></span>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex align-items-center">
                                                        <span class="avatar avatar-sm me-2">
                                                            <img src="assets/img/user/user-06.jpg" class="rounded-circle " alt="Img">
                                                        </span>
                                                        <h6 class="fs-13 me-2">Ryan Rodriguez,</h6>
                                                        <span class="fs-12">August 24, 2024 06:30 pm</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="user-icon d-inline-flex">
                                        <a href="#" class="me-2" data-bs-toggle="modal" data-bs-target="#"><i class="ti ti-edit"></i></a>
                                        <a href="#" class="" data-bs-toggle="modal" data-bs-target="#del-review"><i class="ti ti-trash"></i></a>
                                    </div>
                                </div>
                                <div>
                                    <p class="fs-14">
                                        The car repair service was exceptional, providing prompt and thorough repairs with clear communication throughout. Their expertise and attention to detail restored my vehicle to top condition.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="value d-flex align-items-center">
                        <span>Show</span>
                        <select>
                            <option>7</option>
                        </select>
                        <span>entries</span>
                    </div>
                    <div class="d-flex align-items-center justify-content-center">
                        <span class="me-2 text-gray-9">1 - 07 of 10</span>
                        <nav aria-label="Page navigation" >
                            <ul class="paginations d-flex justify-content-center align-items-center">
                                <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="javascript:void(0);">1</a></li>
                                <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center " href="javascript:void(0);">2</a></li>
                                <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center " href="javascript:void(0);">3</a></li>
                            </ul>
                            </nav>
                    </div>
                </div>
            </div>
            </div>
            <!-- /Page Wrapper -->

             <!-- Delete Staff -->
            <div class="modal fade custom-modal" id="del-review">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                            <h5 class="modal-title">Delete Review</h5>
                            <a href="#" data-bs-dismiss="modal" aria-label="Close"><i
                                    class="ti ti-circle-x-filled fs-20"></i></a>
                        </div>
                        <div class="modal-body">
                            <div class="write-review">
                                <form action="https://truelysell.dreamstechnologies.com/html/template/provider-reviews.html">
                                    <p>Are you sure want to delete this Review?</p>
                                    <div class="modal-submit text-end">
                                        <a href="#" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                                        <button type="submit" class="btn btn-dark">Yes</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Delete Staff -->

     </div>
     {% endblock %}