
  {% extends "provider/base.html" %}
{% load static %}
{% block content %}


        <!-- Page Wrapper -->
        <div class="page-wrapper">
			<div class="content container-fluid">
                <div class="d-flex justify-content-between align-items-center flex-wrap mb-4">
					<h5>Holiday & Leave</h5>
					<div class="d-flex align-items-center">
                        <a href="provider-leave-history.html" class="btn btn-light me-2"><i class="feather-file-text"></i> Leave History</a>
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-toggle="modal" data-bs-target="#add-holiday"><i class="feather-plus"></i> Add Holiday</a>
                        <a href="javascript:void(0);" class="btn btn-dark add-set" data-bs-toggle="modal" data-bs-target="#add-leave"><i class="feather-plus"></i> Add Leave</a>
					</div>
				</div>

				<!-- calendar -->
				<div class="row">
					<div class="col-md-12">
						<div id="calendar-book"></div>
					</div>
				</div>
				<!-- /calendar -->

			</div>
		</div>

        <!-- Add Holiday -->
		<div class="modal fade custom-modal" id="add-holiday">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content doctor-profile">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Add Holiday </h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
					<div class="modal-body pt-0">
						<form action="#">
							<div class="wallet-add">
								<div class="form-group">
									<label class="col-form-label">Holiday Name</label>
									<input type="text" class="form-control" placeholder="Enter Holiday Name">
								</div>
								<div class="form-group">
									<label class="col-form-label">From</label>
									<div class="form-icon">
										<input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
										<span class="cus-icon">
											<i class="feather-calendar"></i>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-form-label">To</label>
									<div class="form-icon">
										<input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
										<span class="cus-icon">
											<i class="feather-calendar"></i>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-form-label">Description</label>
									<textarea class="form-control" rows="4"></textarea>
								</div>
							</div>
						</form>
					</div>
                    <div class="modal-footer">
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button class="btn btn-dark" type="submit">Submit</button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<!-- /Add Holiday -->

        <!-- Add Leave -->
		<div class="modal fade custom-modal" id="add-leave">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content doctor-profile">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Add Leave </h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
					<div class="modal-body pt-0">
						<form action="#">
							<div class="wallet-add">
								<div class="form-group">
									<label class="col-form-label">From</label>
									<div class="form-icon">
										<input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
										<span class="cus-icon">
											<i class="feather-calendar"></i>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-form-label">To</label>
									<div class="form-icon">
										<input type="text" class="form-control datetimepicker" placeholder="dd/mm/yyyy">
										<span class="cus-icon">
											<i class="feather-calendar"></i>
										</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-form-label">Reason</label>
									<textarea class="form-control" rows="3"></textarea>
								</div>
							</div>
						</form>
					</div>
                    <div class="modal-footer">
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button class="btn btn-dark" type="submit">Submit</button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<!-- /Add Leave -->

        <!-- Alert Message -->
		<div class="modal fade custom-modal" id="alertmsg">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content doctor-profile">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Add Message</h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
					<div class="modal-body pt-0">
						<form action="#">
							<div class="msg-alert">
								<p>If You Take Your Appointment Automatically Cancelled.</p>
							</div>
						</form>
					</div>
                    <div class="modal-footer">
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button class="btn btn-dark" type="submit">Ok</button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<!-- /Alert Message -->

		<!-- Delete Account -->
        <div class="modal fade custom-modal" id="del-account">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Delete Account</h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
                    <form action="#">
                        <div class="modal-body">
                            <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type your password.</p>
                            <div class="mb-0">
                                <label class="form-label">Password</label>
                                <div class="pass-group">
                                    <input type="password" class="form-control pass-input" placeholder="*************">
                                    <span class="toggle-password feather-eye-off"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-dark">Delete Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Delete Account -->

        <!-- /Page Wrapper -->

     </div>
     <!-- /Main Wrapper -->

	 <!-- Booking Details -->
	<div class="toggle-sidebar">
		<div class="sidebar-layout">
			<div class="sidebar-header pb-3 mb-3">
				<h5>Booking Details</h5>
				<a href="javascript:void(0);" class="sidebar-close"><i class="ti ti-x"></i></a>
			</div>
			<div class="sidebar-body">
				<div class="book-confirm bk-wrap">
					<div class="d-flex justify-content-between">
						<h6>Services<span class="badge badge-soft-success">Confirmed</span></h6>
						<a href="javascript:void(0);" class="edit-book"><i class="feather-edit"></i></a>
					</div>
					<ul>
						<li><span class="bk-date"><i class="feather-calendar"></i> Date & Time  </span> : Oct 28, 2023 - 10AM to 12 AM</li>
						<li><span class="bk-date"><i class="feather-map-pin"></i> Location  </span> : New York</li>
						<li><span class="bk-date"><i class="feather-user"></i> User Name  </span> : John Smith</li>
					</ul>
					<div class="d-flex align-items-center mb-3">
						<a href="javascript:void(0);" class="btn btn-dark btn-sm me-2" data-bs-toggle="modal" data-bs-target="#reschedule"><i class="feather-user me-1"></i> Reschedule</a>
						<a href="javascript:void(0);" class="btn btn-light btn-sm" data-bs-toggle="modal" data-bs-target="#cancel_appointment"><i class="feather-x-circle me-1"></i> Cancel</a>
					</div>
				</div>
				<div class="book-customer bk-wrap pt-3">
					<h5>Provider Details</h5>
					<div class="d-flex align-items-center flex-wrap justify-content-between mb-3">
						<div class="d-flex align-items-center">
							<span class="avatar avatar-md me-2"><img src="assets/img/profiles/avatar-02.jpg" class="rounded-circle" alt="User"></span>
							<div>
							<h6 class="fs-14 fw-medium">John Doe</h6>
							<p class="mb-0">Montana, USA</p>
						</div>
						</div>
						<div>
							<a href="user-chat.html" class="btn btn-dark btn-sm"><i class="ti ti-message me-1"></i>Chat</a>
						</div>
					</div>
				</div>
				<div class="bk-wrap py-3">
					<h5>Appointment Message</h5>
					<p class="mb-0">Thanks for your interest in our services</p>
				</div>
				<div class="bk-wrap bk-service py-3">
					<div>
						<h5>House Cleaning Services</h5>
						<p class="mb-0">quick and quality service</p>
					</div>
					<p class="bk-price">$100.00</p>
				</div>
				<div class="bk-wrap bk-history pt-3">
					<h4>Booking History</h4>
					<ul>
						<li>
							<span>
								<i class="feather-calendar"></i>
							</span>
							<div class="book-crete">
								<h6>Booking created</h6>
								<p>Oct 28 2023 1:28 PM</p>
							</div>
						</li>
						<li>
							<span>
								<i class="feather-user"></i>
							</span>
							<div class="book-crete">
								<h6>Assigned to John Smith</h6>
								<p>Oct 28 2023 1:28 PM</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- /Booking Details -->
{% endblock %}