{% extends "provider/base.html" %}
{% load static %}
{% block content %}

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content">
                <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
                    <h4>Staffs</h4>
                    <div class="d-flex align-items-center flex-wrap row-gap-3">
                        <span class="fs-14 me-2">Sort</span>
                        <div class="dropdown me-2">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                                Newly Added
                            </a>
                            <div class="dropdown-menu">
                                <a href="javascript:void(0);" class="dropdown-item active">Newly Added</a>
                                <a href="javascript:void(0);" class="dropdown-item">Oldest</a>
                            </div>
                        </div>
                        <div class="dropdown me-2">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
                                Export
                            </a>
                            <div class="dropdown-menu">
                                <a href="javascript:void(0);" class="dropdown-item active">Export</a>
                                <a href="javascript:void(0);" class="dropdown-item">Import</a>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="tags d-flex justify-content-center align-items-center border rounded me-2"><i
                                class="ti ti-printer"></i></a>
                        <a href="javascript:void(0);"
                            class="tags d-flex justify-content-center align-items-center border rounded me-2"
                            id="filter_search"><i class="ti ti-sort-descending"></i></a>
                        <a href="staff-grid.html"
                            class="tags d-flex justify-content-center align-items-center border rounded me-2"><i
                                class="ti ti-layout-grid"></i></a>
                        <a href="staff-list.html"
                            class="tags active d-flex justify-content-center align-items-center border rounded me-2"><i
                                class="ti ti-list"></i></a>
                        <a href="javascript:void(0);" class="btn btn-dark d-flex align-items-center" data-bs-toggle="modal"
                            data-bs-target="#add-staff"><i class="ti ti-circle-plus me-2"></i>Add Staffs</a>
                    </div>
                </div>
                <div id="filter_inputs">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xl">
                            <div class="mb-3">
                                <div class="sel-cal Calendar-icon">
                                    <span><i class="ti ti-calendar-month"></i></span>
                                    <input class="form-control datetimepicker" type="text" placeholder="dd-mm-yyyy">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xl">
                            <div class="mb-3">
                                <select class="select">
                                    <option>Staff ID</option>
                                    <option>ST5246</option>
                                    <option>ST1269</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xl">
                            <div class="mb-3">
                                <select class="select">
                                    <option>Staff</option>
                                    <option>Brian Villalobos</option>
                                    <option>Stephan Peralt</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xl">
                            <div class="mb-3">
                                <select class="select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="provide-table manage-table ">
                        <div class="table-responsive">
                            <table class="table  datatable">
                                <thead class="thead-light">
                                    <tr>
                                        <th>Staff ID</th>
                                        <th>Staffs Name</th>
                                        <th>Created On</th>
                                        <th>No of Services</th>
                                        <th>Total Bookings</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>ST0263</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="staff-details.html" class="avatar avatar-lg me-2">
                                                    <img src="{% static 'assets/img/profiles/avatar-02.jpg' %}" class="rounded-circle"
                                                        alt="user">
                                                </a>
                                                <div>
                                                    <h6 class="fs-14 fw-medium"><a href="staff-details.html">Anthony
                                                            Lewis</a></h6>
                                                    <span class="fs-12"><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="6b0a051f030405122b0e130a061b070e45080406">[email&#160;protected]</a></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>14/01/2024</td>
                                        <td>2</td>
                                        <td>0</td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span class="badge badge-success-100 d-flex align-items-center">
                                                    <i class="ti ti-point-filled"></i>
                                                    Active
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="javascript:void(0);" class="me-2" data-bs-toggle="modal"
                                                    data-bs-target="#edit-staff"><i class="ti ti-edit"></i></a>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#del-staff"><i
                                                        class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ST5246</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="staff-details.html" class="avatar avatar-lg me-2">
                                                    <img src="{% static 'assets/img/profiles/avatar-35.jpg' %}" class="rounded-circle"
                                                        alt="user">
                                                </a>
                                                <div>
                                                    <h6 class="fs-14 fw-medium"><a href="staff-details.html">Brian
                                                            Villalobos</a></h6>
                                                    <span class="fs-12"><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="98faeaf1f9f6d8fde0f9f5e8f4fdb6fbf7f5">[email&#160;protected]</a></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>21/01/2024</td>
                                        <td>3</td>
                                        <td>4 </td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span class="badge badge-success-100 d-flex align-items-center">
                                                    <i class="ti ti-point-filled"></i>
                                                    Active
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="javascript:void(0);" class="me-2" data-bs-toggle="modal"
                                                    data-bs-target="#edit-staff"><i class="ti ti-edit"></i></a>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#del-staff"><i
                                                        class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ST7645</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="staff-details.html" class="avatar avatar-lg me-2">
                                                    <img src="{% static 'assets/img/profiles/avatar-36.jpg' %}" class="rounded-circle"
                                                        alt="user">
                                                </a>
                                                <div>
                                                    <h6 class="fs-14 fw-medium"><a href="staff-details.html">Harvey
                                                            Smith</a></h6>
                                                    <span class="fs-12"><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7c141d0e0a19053c19041d110c1019521f1311">[email&#160;protected]</a></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>20/02/2024</td>
                                        <td>2</td>
                                        <td>6</td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span class="badge badge-success-100 d-flex align-items-center">
                                                    <i class="ti ti-point-filled"></i>
                                                    Active
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="javascript:void(0);" class="me-2" data-bs-toggle="modal"
                                                    data-bs-target="#edit-staff"><i class="ti ti-edit"></i></a>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#del-staff"><i
                                                        class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ST1269</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="staff-details.html" class="avatar avatar-lg me-2">
                                                    <img src="{% static 'assets/img/profiles/avatar-11.jpg' %}" class="rounded-circle"
                                                        alt="user">
                                                </a>
                                                <div>
                                                    <h6 class="fs-14 fw-medium"><a href="staff-details.html">Stephan
                                                            Peralt</a></h6>
                                                    <span class="fs-12"><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="91e1f4e3f0fdd1f4e9f0fce1fdf4bff2fefc">[email&#160;protected]</a></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>15/03/2024</td>
                                        <td>6</td>
                                        <td>10</td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span class="badge badge-success-100 d-flex align-items-center">
                                                    <i class="ti ti-point-filled"></i>
                                                    Active
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="javascript:void(0);" class="me-2" data-bs-toggle="modal"
                                                    data-bs-target="#edit-staff"><i class="ti ti-edit"></i></a>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#del-staff"><i
                                                        class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ST7436</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="staff-details.html" class="avatar avatar-lg me-2">
                                                    <img src="{% static 'assets/img/profiles/avatar-15.jpg' %}" class="rounded-circle"
                                                        alt="user">
                                                </a>
                                                <div>
                                                    <h6 class="fs-14 fw-medium"><a href="staff-details.html">Doglas
                                                            Martini</a></h6>
                                                    <span class="fs-12"><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="a3cec2d1d7cdcad4d1e3c6dbc2ced3cfc68dc0ccce">[email&#160;protected]</a></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>12/04/2024</td>
                                        <td>2</td>
                                        <td>15</td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span class="badge badge-danger-transparent d-flex align-items-center">
                                                    <i class="ti ti-point-filled"></i>
                                                    Inactive
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="javascript:void(0);" class="me-2" data-bs-toggle="modal"
                                                    data-bs-target="#edit-staff"><i class="ti ti-edit"></i></a>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#del-staff"><i
                                                        class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ST3695</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="staff-details.html" class="avatar avatar-lg me-2">
                                                    <img src="{% static 'assets/img/profiles/avatar-20.jpg' %}" class="rounded-circle"
                                                        alt="user">
                                                </a>
                                                <div>
                                                    <h6 class="fs-14 fw-medium"><a href="staff-details.html">Linda
                                                            Ray</a></h6>
                                                    <span class="fs-12"><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c3b1a2baf7f6f583a6bba2aeb3afa6eda0acae">[email&#160;protected]</a></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>20/05/2024</td>
                                        <td>1</td>
                                        <td>12</td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span class="badge badge-danger-transparent d-flex align-items-center">
                                                    <i class="ti ti-point-filled"></i>
                                                    Inactive
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="javascript:void(0);" class="me-2" data-bs-toggle="modal"
                                                    data-bs-target="#edit-staff"><i class="ti ti-edit"></i></a>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#del-staff"><i
                                                        class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>ST5348</td>
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <a href="staff-details.html" class="avatar avatar-lg me-2">
                                                    <img src="{% static 'assets/img/user/user-01.jpg' %}" class="rounded-circle"
                                                        alt="user">
                                                </a>
                                                <div>
                                                    <h6 class="fs-14 fw-medium"><a href="staff-details.html">Elliot
                                                            Murray</a></h6>
                                                    <span class="fs-12"><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="81ecf4f3f3e0f8c1e4f9e0ecf1ede4afe2eeec">[email&#160;protected]</a></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>06/07/2024</td>
                                        <td>1</td>
                                        <td>4</td>
                                        <td>
                                            <div class="d-flex justify-content-center align-items-center">
                                                <span class="badge badge-danger-transparent d-flex align-items-center">
                                                    <i class="ti ti-point-filled"></i>
                                                    Inactive
                                                </span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="user-icon d-inline-flex">
                                                <a href="javascript:void(0);" class="me-2" data-bs-toggle="modal"
                                                    data-bs-target="#edit-staff"><i class="ti ti-edit"></i></a>
                                                <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#del-staff"><i
                                                        class="ti ti-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="table-paginate d-flex justify-content-between align-items-center flex-wrap row-gap-3">
                        <div class="value d-flex align-items-center">
                            <span>Show</span>
                            <select>
                                <option>7</option>
                            </select>
                            <span>entries</span>
                        </div>
                        <div class="d-flex align-items-center justify-content-center">
                            <span class="me-2 text-gray-9">1 - 07 of 10</span>
                            <nav aria-label="Page navigation">
                                <ul class="paginations d-flex justify-content-center align-items-center">
                                    <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="javascript:void(0);">1</a></li>
                                    <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">2</a></li>
                                    <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center" href="javascript:void(0);">3</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Wrapper -->

        <!-- Add Staff-->
        <div class="modal fade custom-modal" id="add-staff">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content doctor-profile">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Add Staff </h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                                class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
                    <div class="modal-body pb-0">
                        <form action="https://truelysell.dreamstechnologies.com/html/template/staff-list.html">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <div class="d-flex profile-upload align-items-center">
                                            <span
                                                class="d-flex justify-content-center align-items-center p-4 bg-light rounded me-2"><i
                                                    class="ti ti-photo"></i></span>
                                            <div>
                                                <h6 class="fs-16">Profile</h6>
                                                <span class="fs-14">Image size does not exceed 5MB</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Full Name</label>
                                        <input type="text" class="form-control pass-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control pass-input">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Phone Number</label>
                                        <input type="number" class="form-control pass-input">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Address</label>
                                        <input type="text" class="form-control pass-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Country</label>
                                        <select class="select">
                                            <option>Select</option>
                                            <option>Brazil</option>
                                            <option>Canada</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">State</label>
                                        <select class="select">
                                            <option>Select</option>
                                            <option>Myanmar</option>
                                            <option>Cyprus</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">City</label>
                                        <select class="select">
                                            <option>Select</option>
                                            <option>London</option>
                                            <option>Paris</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Zip Code</label>
                                        <input type="text" class="form-control pass-input">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Services</label>
                                        <select class="select">
                                            <option>Select</option>
                                            <option>Computer Repair</option>
                                            <option>Plumbing</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Status</label>
                                        <select class="select">
                                            <option>Select</option>
                                            <option>Active</option>
                                            <option>Inactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button class="btn btn-dark" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Add Staff -->

        <!-- Edit Staff-->
        <div class="modal fade custom-modal" id="edit-staff">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content doctor-profile">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Edit Staff </h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                                class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
                    <div class="modal-body pb-0">
                        <form action="https://truelysell.dreamstechnologies.com/html/template/staff-list.html">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <div class="d-flex profile-upload align-items-center">
                                            <span
                                                class="d-flex justify-content-center align-items-center p-4 bg-light rounded me-2"><i
                                                    class="ti ti-photo"></i></span>
                                            <div>
                                                <h6 class="fs-16">Profile</h6>
                                                <span class="fs-14">Image size does not exceed 5MB</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Full Name</label>
                                        <input type="text" class="form-control pass-input" value="Jeff Fitch">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Email</label>
                                        <input type="email" class="form-control pass-input" value="jeff@example.com">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Phone Number</label>
                                        <input type="number" class="form-control pass-input" value="1748116543">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Address</label>
                                        <input type="text" class="form-control pass-input">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Country</label>
                                        <select class="select">
                                            <option>Select</option>
                                            <option selected>Brazil</option>
                                            <option>Canada</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">State</label>
                                        <select class="select">
                                            <option>Select</option>
                                            <option selected>Myanmar</option>
                                            <option>Cyprus</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">City</label>
                                        <select class="select">
                                            <option>Select</option>
                                            <option selected>London</option>
                                            <option>Paris</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Zip Code</label>
                                        <input type="text" class="form-control pass-input">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label">Description</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Services</label>
                                        <select class="select">
                                            <option>Select</option>
                                            <option selected>Computer Repair</option>
                                            <option>Plumbing</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label">Status</label>
                                        <select class="select">
                                            <option>Select</option>
                                            <option selected>Active</option>
                                            <option>Inactive</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="d-flex justify-content-end align-items-center">
                            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button class="btn btn-dark" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Edit Staff -->

        <!-- Delete Staff -->
        <div class="modal fade custom-modal" id="del-staff">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Delete Staff</h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                                class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
                    <div class="modal-body">
                        <div class="write-review">
                            <form action="https://truelysell.dreamstechnologies.com/html/template/staff-list.html">
                                <p>Are you sure want to delete this Staff?</p>
                                <div class="modal-submit text-end">
                                    <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                                    <button type="submit" class="btn btn-dark">Yes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Delete Staff -->

        <!-- Delete Account -->
        <div class="modal fade custom-modal" id="del-account">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                        <h5 class="modal-title">Delete Account</h5>
                        <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i
                                class="ti ti-circle-x-filled fs-20"></i></a>
                    </div>
                    <form action="#">
                        <div class="modal-body">
                            <p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type
                                your password.</p>
                            <div class="mb-0">
                                <label class="form-label">Password</label>
                                <div class="pass-group">
                                    <input type="password" class="form-control pass-input" placeholder="*************">
                                    <span class="toggle-password feather-eye-off"></span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                            <button type="submit" class="btn btn-dark">Delete Account</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- /Delete Account -->

    </div>

    {% endblock %}