{% load static %}
<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Truelysell | Template</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'assetss/img/favicon.png' %}">

    <!-- Select 2 -->
    <link rel="stylesheet" href="{% static 'assetss/css/select2.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assetss/plugins/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css' %}">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="{% static 'assetss/plugins/fontawesome/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assetss/plugins/fontawesome/css/all.min.css' %}">

    <!-- Map CSS -->
    <link rel="stylesheet" href="{% static 'assetss/plugins/jvectormap/jquery-jvectormap-2.0.3.css' %}">

    <!-- Feather CSS -->
    <link rel="stylesheet" href="{% static 'assetss/plugins/feather/feather.css' %}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'assetss/css/admin.css' %}">

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="{% static 'assetss/css/bootstrap-datetimepicker.min.css' %}">

    <!-- Ck Editor -->
	<link rel="stylesheet" href="{% static 'assetss/css/ckeditor.css' %}">
