{% extends 'urbanapp/base.html' %}
{% load static %}

{% block content %}

		<!-- Breadcrumb -->
		<div class="breadcrumb-bar text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
					<h2 class="breadcrumb-title mb-2">Blog Grid</h2>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center mb-0">
							<li class="breadcrumb-item"><a href="index-2.html"><i class="ti ti-home-2"></i></a></li>
							<li class="breadcrumb-item">Home</li>
							<li class="breadcrumb-item active" aria-current="page">Blog Grid</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="breadcrumb-bg">
				<img src="{% static 'assets/img/bg/breadcrumb-bg-01.png' %}" class="breadcrumb-bg-1" alt="">
				<img src="{% static 'assets/img/bg/breadcrumb-bg-02.png' %}" class="breadcrumb-bg-2" alt="">
			</div>
		</div>
		</div>
		<!-- /Breadcrumb -->

		<!-- Page Wrapper -->
		<div class="page-wrapper">
		<div class="content">
           <div class="container">
            <div class="row justify-content-center align-items-center">

                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-15.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Computer</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-43.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Robert Koch</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">09 Aug 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">Tips for Selecting a Computer Service Provider</a></h6>
                                    <p class="fs-14">Explore practical tips to help you pick the best computer service provider, ensuring smooth and efficient operations for..</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-14.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Construction</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-24.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Steven Gutierrez</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">15 Nov 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">What to Look for in a Reliable Construction Service?</a></h6>
                                    <p class="fs-14">
                                        Get tips on selecting a construction company that offers transparency, excellent communication, and proven results...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-13.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Car Wash</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-45.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Antwan Riddles</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">20 Nov 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">Eco-Friendly Car Wash Services: What to Look For</a></h6>
                                    <p class="fs-14">
                                        Learn how to find environmentally friendly car wash services that use water-saving techniques and biodegradable clean...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-16.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Interior</span>
                                    <span
                                        class="trend-tag-2  d-flex justify-content-center align-items-center rating text-gray"><i
                                            class="fa fa-star filled me-1"></i>4.9</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-55.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Natalie Mitchell</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">13 Oct 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">The Role of Lighting in Interior Design</a></h6>
                                    <p class="fs-14">
                                        Explore how different lighting options can enhance your home’s ambiance and highlight key design features...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-17.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Car Wash</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-52.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Jay Jones</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">25 Aug 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">The Benefits of Regular Professional Car Washes</a></h6>
                                    <p class="fs-14">Discover why regular professional car washes can extend the life of your vehicle, improve appearance, and protect its ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-18.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Electrical</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-14.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">James Bailey</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">02 Sep 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">Energy-Efficient Electrical Upgrades for Homes</a></h6>
                                    <p class="fs-14">
                                        Discover how energy-efficient electrical solutions, like LED lighting and smart systems, can reduce your energy bills and...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-19.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Cleaning</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-34.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Alice Mullen</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">14 Sep 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">Benefits of Hiring Professional Cleaning Services</a></h6>
                                    <p class="fs-14">Discover how professional cleaning services can save you time, ensure thorough cleaning, and improve the overall...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-30.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Appliance</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-16.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Donald Gonzales</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">27 Sep 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">How to Choose the Right Appliance Repair Service </a></h6>
                                    <p class="fs-14">
                                        Learn how to evaluate appliance repair services based on expertise, customer reviews, and service guarantees to ...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-23.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Plumbing</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-26.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Robert Conroy</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">26 Oct 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">Understanding Your Home’s Plumbing System</a></h6>
                                    <p class="fs-14">Learn the basics of your home’s plumbing system, including key components and how they work together, to better ...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-24.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Carpentry</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-06.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Richard Scheer</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">18 Oct 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">How to Find a Skilled Carpenter: Tips for Hiring</a></h6>
                                    <p class="fs-14">
                                        Discover key tips for finding a qualified carpenter, including checking references, reviewing past work, and ensuring..
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-22.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Construction</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-44.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Reed Smith</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">16 Aug 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">The Importance of Safety in Construction Services</a></h6>
                                    <p class="fs-14">Understand why safety protocols and practices are crucial in construction projects. Learn how to select a service provider...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card p-0">
                        <div class="card-body p-0">
                            <div class="img-sec w-100">
                                <a href="blog-details.html"><img src="{% static 'assets/img/providers/provider-31.jpg' %}"
                                        class="img-fluid rounded-top w-100" alt="img"></a>
                                <div class="image-tag d-flex justify-content-end align-items-center">
                                    <span class="trend-tag">Computer</span>
                                </div>
                            </div>
                            <div class="p-3">
                                <div class="d-flex align-items-center mb-3  ">
                                    <div class="d-flex align-items-center border-end pe-2">
                                        <span class="avatar avatar-sm me-2">
                                            <img src="{% static 'assets/img/profiles/avatar-13.jpg' %}" class="rounded-circle" alt="user">
                                        </span>
                                        <h6 class="fs-14 text-gray-6">Cheryl Mickens</h6>
                                    </div>
                                    <div class="d-flex align-items-center ps-2">
                                        <span><i class="ti ti-calendar me-2"></i></span>
                                        <span class="fs-14">04 Nov 2024</span>
                                    </div>
                                </div>
                                <div>
                                    <h6 class="fs-16 text-truncate mb-1"><a href="blog-details.html">How to Fix a Computer in Just 3 Steps?</a></h6>
                                    <p class="fs-14">
                                        Simplify troubleshooting with these three easy steps to fix common computer issues. Learn how to diagnose, reset...
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-paginate d-flex justify-content-center align-items-center flex-wrap row-gap-3">
                <div class="d-flex align-items-center justify-content-center">
                    <nav aria-label="Page navigation">
                        <ul class="paginations d-flex justify-content-center align-items-center">
                            <li class="page-item me-2"><a class=" d-flex justify-content-center align-items-center" href="#"><i class="ti ti-arrow-left me-2"></i>Prev</a></li>
                            <li class="page-item me-2"><a class="page-link-1 active d-flex justify-content-center align-items-center " href="#">1</a></li>
                            <li class="page-item me-2"><a class="page-link-1 d-flex justify-content-center align-items-center" href="#">2</a></li>
                            <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center me-2" href="#">3</a></li>
                            <li class="page-item "><a class="page-link-1 d-flex justify-content-center align-items-center me-2" href="#">4</a></li>
                            <li class="page-item me-2"><a class="d-flex justify-content-center align-items-center" href="#">Next <i class="ti ti-arrow-right ms-2"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
           </div>
		</div>
		</div>
		<!-- /Page Wrapper -->
{% endblock %}

	</div>
