
{% extends 'urbanapp/base.html' %}
{% load static %}

{% block content %}
	<!-- Breadcrumb -->
	<div class="breadcrumb-bar text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
					<h2 class="breadcrumb-title mb-2">Categories</h2>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center mb-0">
							<li class="breadcrumb-item"><a href="index-2.html"><i class="ti ti-home-2"></i></a></li>
							<li class="breadcrumb-item active" aria-current="page">Categories</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="breadcrumb-bg">
				<img src="{% static 'assets/img/bg/breadcrumb-bg-01.png' %}" class="breadcrumb-bg-1" alt="Img">
				<img src="{% static 'assets/img/bg/breadcrumb-bg-02.png' %}" class="breadcrumb-bg-2" alt="Img">
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->

	<!-- Page Wrapper -->
	 <div class="page-wrapper">
		<div class="content content-two">
			<div class="container">
				<div class="row justify-content-center align-items-center">
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-01.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Construction</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-26.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-02.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Removal</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-28.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-05.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Electrical</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-29.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-03.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Furniture Assembly</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-30.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-08.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Mobile Barbers</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-31.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-07.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Deliveries</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-01.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-14.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Cleaning</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-33.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-06.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Man and Van</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-34.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-11.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Nail Technicians</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-35.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-13.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Shop & Deliver</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-32.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-15.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Car Transport</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-37.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-12.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Hairdressers</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-38.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-04.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center"><a href="services-list.html">Computer Service</a></h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-39.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-10.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center">Plumbing</h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-40.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-16.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center">Carpentry</h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-41.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-09.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center">Interior</h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-42.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="category card wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-body">
								<div class="feature-icon d-flex justify-content-center align-items-center mb-2">
									<span class="rounded-pill d-flex justify-content-center align-items-center p-3">
										<img src="{% static 'assets/img/icons/category-17.svg' %}" class="img-fluid" alt="logo">
									</span>
								</div>
								<h5 class="text-center">Car Wash</h5>
								<div class="overlay">
									<img src="{% static 'assets/img/services/service-43.jpg' %}" class="img-fluid" alt="img">
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	 </div>
	 <!-- /Page Wrapper -->
{% endblock %}