{% extends 'urbanapp/base.html' %}
{% load static %}

{% block content %}



    <!-- Breadcrumb -->
	<div class="breadcrumb-bar text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
					<h2 class="breadcrumb-title mb-2">Bookings</h2>
					<nav aria-label="breadcrumb">
						<ol class="breadcrumb justify-content-center mb-0">
							<li class="breadcrumb-item"><a href="index-2.html"><i class="ti ti-home-2"></i></a></li>
                            <li class="breadcrumb-item">Customer</li>
							<li class="breadcrumb-item active" aria-current="page">Bookings</li>
						</ol>
					</nav>
				</div>
			</div>
			<div class="breadcrumb-bg">
				<img src="{% static 'assets/img/bg/breadcrumb-bg-01.png' %}" class="breadcrumb-bg-1" alt="Img">
				<img src="{% static 'assets/img/bg/breadcrumb-bg-02.png' %}" class="breadcrumb-bg-2" alt="Img">
			</div>
		</div>
	</div>
	<!-- /Breadcrumb -->

    <!-- Page Wrapper -->
     <div class="page-wrapper">
        <div class="content">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-3 col-lg-4 theiaStickySidebar">
						<div class="card user-sidebar mb-4 mb-lg-0">
                            <div class="card-header user-sidebar-header mb-4">
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <span class="user rounded-circle avatar avatar-xxl mb-2">
                                        <img src="{% static 'assets/img/profiles/avatar-21.jpg' %}" class="img-fluid rounded-circle" alt="Img">
                                    </span>
                                    <h6 class="mb-2">John Smith</h6>
                                    <p class="fs-14">Member Since Sep 2021</p>
                                </div>
                            </div>
							<div class="card-body user-sidebar-body p-0">
								<ul>
                                    <li class="mb-4">
                                        <a href="user-dashboard.html" class="d-flex align-items-center">
                                            <i class="ti ti-layout-grid me-2"></i>
                                            Dashboard
                                        </a>
                                    </li>
                                    <li class="mb-4">
                                        <a href="user-booking-list.html" class="d-flex align-items-center active">
                                            <i class="ti ti-device-mobile me-2"></i>
                                            Bookings
                                        </a>
                                    </li>
                                    <li class="mb-4">
                                        <a href="favourites.html" class="d-flex align-items-center">
                                            <i class="ti ti-heart me-2"></i>
                                            Favorites
                                        </a>
                                    </li>
                                    <li class="mb-4">
                                        <a href="customer-wallet.html" class="d-flex align-items-center">
                                            <i class="ti ti-wallet me-2"></i>
                                            Wallet
                                        </a>
                                    </li>
                                    <li class="mb-4">
                                        <a href="customer-reviews.html" class="d-flex align-items-center">
                                            <i class="ti ti-star me-2"></i>
                                            Reviews
                                        </a>
                                    </li>
                                    <li class="mb-4">
                                        <a href="user-chat.html" class="d-flex align-items-center">
                                            <i class="ti ti-message-circle me-2"></i>
                                            Chat
                                        </a>
                                    </li>
                                    <li class="submenu mb-4">
										<a href="javascript:void(0);" class="d-block mb-3"><i class="ti ti-settings me-2"></i><span>Settings</span><span class="menu-arrow"></span></a>
										<ul class="ms-4">
											<li class="mb-3">
												<a href="account-settings.html" class="fs-14 d-inline-flex align-items-center"><i class="ti ti-chevrons-right me-2"></i>Account Settings</a>
											</li>
											<li class="mb-3">
												<a href="security-settings.html" class="fs-14 d-inline-flex align-items-center"><i class="ti ti-chevrons-right me-2"></i>Security Settings</a>
											</li>
											<li class="mb-3">
												<a href="notification-settings.html" class="fs-14 d-inline-flex align-items-center"><i class="ti ti-chevrons-right me-2"></i>Notifications</a>
											</li>
											<li class="mb-3">
												<a href="connected-apps.html" class="fs-14 d-inline-flex align-items-center"><i class="ti ti-chevrons-right me-2"></i>Connected Apps</a>
											</li>
											<li class="mb-3">
												<a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#del-account" class="fs-14"><i class="ti ti-chevrons-right me-2"></i>Delete Account</a>
											</li>
										</ul>
									</li>
                                    <li class="mb-0">
                                        <a href="login.html" class="d-flex align-items-center">
                                            <i class="ti ti-logout me-2"></i>
                                            Logout
                                        </a>
                                    </li>
                                </ul>
							</div>
						</div>
					</div>
                    <div class="col-xl-9 col-lg-8">
						<div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-4">
                        	<h4>Booking List</h4>
							<div class="d-flex align-items-center">
								<p class="text-dark me-2 mb-0">Sort</p>
								<div class="dropdown me-2">
									<a href="javascript:void(0);" class="dropdown-toggle" data-bs-toggle="dropdown">
										Newly Added
									</a>
									<div class="dropdown-menu">
										<a href="javascript:void(0);" class="dropdown-item active">Newly Added</a>
										<a href="javascript:void(0);" class="dropdown-item">Oldest</a>
									</div>
								</div>
								<a href="user-bookings-calendar.html" class="tags d-flex justify-content-center align-items-center border rounded me-2"><i class="ti ti-calendar-month"></i></a>
								<a href="javascript:void(0);" class="tags d-flex justify-content-center align-items-center border rounded"><i class="ti ti-filter"></i></a>
							</div>
						</div>
                        <div class="card shadow-none booking-list">
							<div class="card-body d-md-flex align-items-center">
								<div class="booking-widget d-sm-flex align-items-center row-gap-3 flex-fill  mb-3 mb-md-0">
									<div class="booking-img me-sm-3 mb-3 mb-sm-0">
										<a href="booking-details.html" class="avatar">
											<img src="{% static 'assets/img/services/service-08.jpg' %}" alt="User Image">
										</a>
										<div class="fav-item">
											<a href="javascript:void(0)" class="fav-icon">
												<i class="feather-heart"></i>
											</a>
										</div>
									</div>
									<div class="booking-det-info">
										<h6 class="mb-3">
											<a href="booking-details.html">Computer Services  </a><span class="badge badge-soft-danger ms-2">Cancelled</span>
										</h6>
										<ul class="booking-details">
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Booking Date</span> <small class="me-2">: </small>27 Sep, 17:00-18:00
											</li>
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Amount</span> <small class="me-2">: </small> $100.00<span class="badge badge-soft-primary ms-2">Paypal</span>
											</li>
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Location</span> <small class="me-2">: </small>Newyork, USA
											</li>
											<li class="d-flex align-items-center flex-wrap">
												<span class="book-item">Provider</span> <small class="me-2">: </small>
												<div class="user-book d-flex align-items-center flex-wrap me-2">
													<div class="avatar avatar-xs me-2">
														<img class="avatar-img rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
													</div>
													John Doe
												</div>
												<p class="mb-0 me-2"><i class="ti ti-point-filled fs-10 text-muted me-2"></i><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="afc6c1c9c0efc5c0c7c1cbc0ca81ccc0c2">[email&#160;protected]</a></p>
												<p><i class="ti ti-point-filled fs-10 text-muted me-2"></i>+1 888 888 8888</p>
											</li>
										</ul>
									</div>
								</div>
								<div>
									<a href="booking.html" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#reschedule">Reschedule</a>
								</div>
							</div>
						</div>
						<div class="card shadow-none booking-list">
							<div class="card-body d-md-flex align-items-center">
								<div class="booking-widget d-sm-flex align-items-center row-gap-3 flex-fill  mb-3 mb-md-0">
									<div class="booking-img me-sm-3 mb-3 mb-sm-0">
										<a href="booking-details.html" class="avatar">
											<img src="{% static 'assets/img/services/service-09.jpg' %}" alt="User Image">
										</a>
										<div class="fav-item">
											<a href="javascript:void(0)" class="fav-icon">
												<i class="feather-heart"></i>
											</a>
										</div>
									</div>
									<div class="booking-det-info">
										<h6 class="mb-3">
											<a href="booking-details.html">Car Repair Services</a><span class="badge badge-soft-success ms-2">Completed</span>
										</h6>
										<ul class="booking-details">
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Booking Date</span> <small class="me-2">: </small>23 Sep 2022, 10:00-11:00
											</li>
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Amount</span> <small class="me-2">: </small> $50.00<span class="badge badge-soft-primary ms-2">COD</span>
											</li>
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Location</span> <small class="me-2">: </small>Alabama, USA
											</li>
											<li class="d-flex align-items-center flex-wrap">
												<span class="book-item">Provider</span> <small class="me-2">: </small>
												<div class="user-book d-flex align-items-center flex-wrap me-2">
													<div class="avatar avatar-xs me-2">
														<img class="avatar-img rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
													</div>
													John Smith
												</div>
												<p class="mb-0 me-2"><i class="ti ti-point-filled fs-10 text-muted me-2"></i><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="9cf5f2faf3dcf6f3f4f2eff1f5e8f4b2fff3f1">[email&#160;protected]</a></p>
												<p><i class="ti ti-point-filled fs-10 text-muted me-2"></i>+1 607-276-5393</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="text-end">
									<div class="d-flex align-items-center flex-wrap row-gap-2">
										<a href="booking.html" class="btn btn-dark me-2">Rebook</a>
										<a href="booking.html" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#add-review"><i class="ti ti-circle-plus me-2"></i>Add Review</a>
									</div>
									<div class="view-action mt-3 mb-0 me-0 ms-0">
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
										</div>
										<a href="booking-details.html" class="text-primary">View Details</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card shadow-none booking-list">
							<div class="card-body d-md-flex align-items-center">
								<div class="booking-widget d-sm-flex align-items-center row-gap-3 flex-fill  mb-3 mb-md-0">
									<div class="booking-img me-sm-3 mb-3 mb-sm-0">
										<a href="booking-details.html" class="avatar">
											<img src="{% static 'assets/img/services/service-10.jpg' %}" alt="User Image">
										</a>
										<div class="fav-item">
											<a href="javascript:void(0)" class="fav-icon">
												<i class="feather-heart"></i>
											</a>
										</div>
									</div>
									<div class="booking-det-info">
										<h6 class="mb-3">
											<a href="booking-details.html">Interior Designing</a><span class="badge badge-soft-info ms-2">Inprogress</span>
										</h6>
										<ul class="booking-details">
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Booking Date</span> <small class="me-2">: </small>22 Sep 2022, 11:00-12:00
											</li>
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Amount</span> <small class="me-2">: </small> $50.00<span class="badge badge-soft-primary ms-2">Paypal</span>
											</li>
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Location</span> <small class="me-2">: </small>Washington, DC, USA
											</li>
											<li class="d-flex align-items-center flex-wrap">
												<span class="book-item">Provider</span> <small class="me-2">: </small>
												<div class="user-book d-flex align-items-center flex-wrap me-2">
													<div class="avatar avatar-xs me-2">
														<img class="avatar-img rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
													</div>
													Quentin
												</div>
												<p class="mb-0 me-2"><i class="ti ti-point-filled fs-10 text-muted me-2"></i><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="93fafdf5fcd3e2e6f6fde7fafdbdf0fcfe">[email&#160;protected]</a></p>
												<p><i class="ti ti-point-filled fs-10 text-muted me-2"></i>+1 601-810-9218</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="text-end">
									<div class="d-flex align-items-center flex-wrap row-gap-2">
										<a href="user-chat.html" class="btn btn-dark me-2"><i class="ti ti-message-2 me-2"></i>Chat</a>
										<a href="booking.html" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#cancel_appointment">Cancel</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card shadow-none booking-list">
							<div class="card-body d-md-flex align-items-center">
								<div class="booking-widget d-sm-flex align-items-center row-gap-3 flex-fill  mb-3 mb-md-0">
									<div class="booking-img me-sm-3 mb-3 mb-sm-0">
										<a href="booking-details.html" class="avatar">
											<img src="{% static 'assets/img/services/service-11.jpg' %}" alt="User Image">
										</a>
										<div class="fav-item">
											<a href="javascript:void(0)" class="fav-icon">
												<i class="feather-heart"></i>
											</a>
										</div>
									</div>
									<div class="booking-det-info">
										<h6 class="mb-3">
											<a href="booking-details.html">Interior Designing</a><span class="badge badge-soft-info ms-2">Inprogress</span>
										</h6>
										<ul class="booking-details">
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Booking Date</span> <small class="me-2">: </small>22 Sep 2022, 11:00-12:00
											</li>
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Amount</span> <small class="me-2">: </small> $50.00<span class="badge badge-soft-primary ms-2">Paypal</span>
											</li>
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Location</span> <small class="me-2">: </small>Washington, DC, USA
											</li>
											<li class="d-flex align-items-center flex-wrap">
												<span class="book-item">Provider</span> <small class="me-2">: </small>
												<div class="user-book d-flex align-items-center flex-wrap me-2">
													<div class="avatar avatar-xs me-2">
														<img class="avatar-img rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
													</div>
													Quentin
												</div>
												<p class="mb-0 me-2"><i class="ti ti-point-filled fs-10 text-muted me-2"></i><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="b8d1d6ded7f8c9cdddd6ccd1d696dbd7d5">[email&#160;protected]</a></p>
												<p><i class="ti ti-point-filled fs-10 text-muted me-2"></i>+1 601-810-9218</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="text-end">
									<div class="d-flex align-items-center flex-wrap row-gap-2">
										<a href="user-chat.html" class="btn btn-dark me-2"><i class="ti ti-message-2 me-2"></i>Chat</a>
										<a href="booking.html" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#cancel_appointment">Cancel</a>
									</div>
								</div>
							</div>
						</div>
						<div class="card shadow-none booking-list mb-0">
							<div class="card-body d-md-flex align-items-center">
								<div class="booking-widget d-sm-flex align-items-center row-gap-3 flex-fill  mb-3 mb-md-0">
									<div class="booking-img me-sm-3 mb-3 mb-sm-0">
										<a href="booking-details.html" class="avatar">
											<img src="{% static 'assets/img/services/service-12.jpg' %}" alt="User Image">
										</a>
										<div class="fav-item">
											<a href="javascript:void(0)" class="fav-icon">
												<i class="feather-heart"></i>
											</a>
										</div>
									</div>
									<div class="booking-det-info">
										<h6 class="mb-3">
											<a href="booking-details.html">Car Repair Services</a><span class="badge badge-soft-success ms-2">Completed</span>
										</h6>
										<ul class="booking-details">
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Booking Date</span> <small class="me-2">: </small>23 Sep 2022, 10:00-11:00
											</li>
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Amount</span> <small class="me-2">: </small> $50.00<span class="badge badge-soft-primary ms-2">COD</span>
											</li>
											<li class="d-flex align-items-center mb-2">
												<span class="book-item">Location</span> <small class="me-2">: </small>Alabama, USA
											</li>
											<li class="d-flex align-items-center flex-wrap">
												<span class="book-item">Provider</span> <small class="me-2">: </small>
												<div class="user-book d-flex align-items-center flex-wrap me-2">
													<div class="avatar avatar-xs me-2">
														<img class="avatar-img rounded-circle" alt="User Image" src="{% static 'assets/img/profiles/avatar-02.jpg' %}">
													</div>
													John Smith
												</div>
												<p class="mb-0 me-2"><i class="ti ti-point-filled fs-10 text-muted me-2"></i><a href="https://truelysell.dreamstechnologies.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="fa93949c95ba909592948997938e92d4999597">[email&#160;protected]</a></p>
												<p><i class="ti ti-point-filled fs-10 text-muted me-2"></i>+1 607-276-5393</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="text-end">
									<div class="d-flex align-items-center flex-wrap row-gap-2">
										<a href="booking.html" class="btn btn-dark me-2">Rebook</a>
										<a href="booking.html" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#add-review"><i class="ti ti-circle-plus me-2"></i>Add Review</a>
									</div>
									<div class="view-action mt-3 mb-0 me-0 ms-0">
										<div class="rating">
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
											<i class="fas fa-star filled"></i>
										</div>
										<a href="booking-details.html" class="text-primary">View Details</a>
									</div>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
     </div>
    <!-- /Page Wrapper -->


	<!-- Reschedule Appointment -->
	<div class="modal fade custom-modal" id="reschedule">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                    <h5 class="modal-title">Reschedule Appointment</h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                </div>
                <div class="modal-body">
                    <form action="https://truelysell.dreamstechnologies.com/html/template/user-bookings.html">
                        <div class="mb-3">
							<label class="form-label">Appointment Date</label>
							<div class="form-icon">
								<input type="text" class="form-control datetimepicker" placeholder="DD/MM/YYYY">
								<span class="cus-icon"><i class="feather-calendar"></i></span>
							</div>
						</div>
						<div class="mb-0">
							<label class="form-label">Appointment Time</label>
							<div class="form-icon">
								<input type="text" class="form-control timepicker" placeholder="DD/MM/YYYY">
								<span class="cus-icon"><i class="feather-clock"></i></span>
							</div>
						</div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="acc-submit">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button class="btn btn-dark" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- /Reschedule Appointment -->

	<!-- Cancel Appointment -->
	<div class="modal fade custom-modal" id="cancel_appointment">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                    <h5 class="modal-title">Cancel Appointment</h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                </div>
				<form action="https://truelysell.dreamstechnologies.com/html/template/user-bookings.html">
					<div class="modal-body">
						<p>Are you sure you want to cancel <span class="text-dark"> John Doe</span> appointment on
							<span class="text-dark"> Oct 28, 2022</span> at time <span class="text-dark"> 10AM - 12PM</span></p>
					</div>
					<div class="modal-footer">
						<div class="acc-submit">
							<a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Dismiss</a>
							<button class="btn btn-dark" type="submit">Yes, Cancel</button>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
	<!-- /Cancel Appointment -->

	<!-- Add Review -->
	<div class="modal fade custom-modal" id="add-review">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                    <h5 class="modal-title">Write A Review</h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                </div>
				<form action="https://truelysell.dreamstechnologies.com/html/template/user-bookings.html">
					<div class="modal-body">
						<div class="write-review">
							<div class="review-add d-flex align-items-center mb-3">
								<div class="rev-img me-2">
									<img src="{% static 'assets/img/services/service-19.jpg' %}" alt="image">
								</div>
								<div>
									<h6 class="fs-16 fw-medium mb-1">Computer Services</h6>
									<p class="fs-12">Newyork, USA</p>
								</div>
							</div>
							<div class="form-info d-flex align-items-center justify-content-between mb-3">
								<p class="fw-medium text-dark mb-0">Rate The Service</p>
								<div class="rating-select mb-0">
									<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
									<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
									<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
									<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
									<a href="javascript:void(0);"><i class="fas fa-star"></i></a>
								</div>
							</div>
							<div class="mb-0">
								<label class="col-form-label">Write your Review</label>
								<textarea class="form-control" rows="4" placeholder="Please write your review"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
						<button type="submit" class="btn btn-dark">Send</button>
					</div>
				</form>
            </div>
        </div>
    </div>
	<!-- /Add Review -->

	<!-- Delete Account -->
	<div class="modal fade custom-modal" id="del-account">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header d-flex align-items-center justify-content-between border-bottom">
                    <h5 class="modal-title">Delete Account</h5>
                    <a href="javascript:void(0);" data-bs-dismiss="modal" aria-label="Close"><i class="ti ti-circle-x-filled fs-20"></i></a>
                </div>
				<form action="https://truelysell.dreamstechnologies.com/html/template/user-booking-list.html">
					<div class="modal-body">
						<p class="mb-3">Are you sure you want to delete This Account? To delete your account, Type your password.</p>
						<div class="mb-0">
							<label class="form-label">Password</label>
							<div class="pass-group">
								<input type="password" class="form-control pass-input" placeholder="*************">
								<span class="toggle-password feather-eye-off"></span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
						<button type="submit" class="btn btn-dark">Delete Account</button>
					</div>
				</form>
            </div>
        </div>
    </div>
	<!-- /Delete Account -->
{% endblock %}