
{% load static %}
<!-- Jquery JS -->
	<script data-cfasync="false" src="{% static 'assets/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'assets/js/jquery-3.7.1.min.js' %}" type="a1d7fb7c43e3e9526cd1a28c-text/javascript"></script>

	<!-- Bootstrap JS -->
	<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}" type="a1d7fb7c43e3e9526cd1a28c-text/javascript"></script>

	<!-- Wow JS -->
	<script src="{% static 'assets/js/wow.min.js' %}" type="a1d7fb7c43e3e9526cd1a28c-text/javascript"></script>

	<!-- Owlcarousel Js -->
	<script src="{% static 'assets/plugins/owlcarousel/owl.carousel.min.js' %}" type="a1d7fb7c43e3e9526cd1a28c-text/javascript"></script>

	<!-- select JS -->
	<script src="{% static 'assets/plugins/select2/js/select2.min.js' %}" type="a1d7fb7c43e3e9526cd1a28c-text/javascript"></script>

	<!-- counterup JS -->
	<script src="{% static 'assets/js/cursor.js' %}" type="a1d7fb7c43e3e9526cd1a28c-text/javascript"></script>
<!-- Sticky Sidebar JS -->
	<script src="{% static 'assets/plugins/theia-sticky-sidebar/ResizeSensor.js' %}" type="023b6e2be931cce6ed237997-text/javascript"></script>
	<script src="{% static 'assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js' %}" type="023b6e2be931cce6ed237997-text/javascript"></script>

	<!-- Mobile Input -->
	<script src="{% static 'assets/plugins/intltelinput/js/intlTelInput.js' %}" type="a1d7fb7c43e3e9526cd1a28c-text/javascript"></script>
	<script src="{% static 'assets/plugins/ityped/index.js' %}" type="a1d7fb7c43e3e9526cd1a28c-text/javascript"></script>

	<!-- Validation-->
	<script src="{% static 'assets/js/validation.js' %}" type="a1d7fb7c43e3e9526cd1a28c-text/javascript"></script>

	<!-- Script JS -->
	<script src="{% static 'assets/js/script.js' %}" type="a1d7fb7c43e3e9526cd1a28c-text/javascript"></script>

<script src="{% static 'assets/scripts/7d0fa10a/cloudflare-static/rocket-loader.min.js' %}" data-cf-settings="a1d7fb7c43e3e9526cd1a28c-|49" defer></script><script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"961b835bcc73a3b5","version":"2025.7.0","serverTiming":{"name":{"cfExtPri":true,"cfEdge":true,"cfOrigin":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"token":"3ca157e612a14eccbb30cf6db6691c29","b":1}' crossorigin="anonymous"></script>
	<!-- Ckeditor Js -->
	<script src="{% static 'assets/plugins/ckeditor/ckeditor.js' %}" type="6ef75373dac0dd66fc8aa0ed-text/javascript"></script>
<!-- Fancybox JS -->
	<script src="{% static 'assets/plugins/fancybox/jquery.fancybox.min.js' %}" type="7cdb5df2a72c91b817e37dcf-text/javascript"></script>
<!-- Datetimepicker JS -->
	<script src="{% static 'assets/js/moment.js' %}" type="e51a6d6ee46bf9ad39bb17a5-text/javascript"></script>
	<script src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}" type="e51a6d6ee46bf9ad39bb17a5-text/javascript"></script>
