{% load static %}
<!-- Header -->
<header class="header header-new">
	<div class="container-fluid">
		<nav class="navbar navbar-expand-lg header-nav">
			<div class="navbar-header">
				<a id="mobile_btn" href="javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
				</a>
				<a href="/" class="navbar-brand logo">
					<img src="{% static 'assets/img/logo.svg' %}" class="img-fluid" alt="Logo">
				</a>
				<a href="/" class="navbar-brand logo-small">
					<img src="{% static 'assets/img/logo-small.svg' %}" class="img-fluid" alt="Logo">
				</a>
			</div>
			<div class="main-menu-wrapper">
				<div class="menu-header">
					<a href="/" class="menu-logo">
						<img src="{% static 'assets/img/logo.svg' %}" class="img-fluid" alt="Logo">
					</a>
					<a id="menu_close" class="menu-close" href="javascript:void(0);"> <i class="fas fa-times"></i></a>
				</div>
				<ul class="main-nav align-items-lg-center">

					<li class="active">
						<a href="/">Home <i class="fas "></i></a>
					</li>
					<li class="has-submenu">
						<a href="/services-list">Services</a>
					<li><a href="/categories">Categories</a></li>

					</li>
					<li><a href="/about">About</a></li>
					<li><a href="/blog-grid">Blog</a></li>
					<li><a href="/contact">Contact Us</a></li>
					<li class="has-submenu"><a href="/user-dashboard">Settings</a></li>

					<li class="nav-item">
						<a class="nav-link" href="/provider/dashboard">Become a Provider</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/index.html">Admin</a>
					</li>
					<li class="nav-item d-sm-none">
						<a class="nav-link" href="{% url 'login' %}">Sign In</a>
					</li>
					<li class="nav-item d-sm-none">
						<a class="nav-link" href="{% url 'register' %}">Join Us</a>
					</li>
				</ul>
			</div>
			<ul class="nav header-navbar-rht">
				{% if user.is_authenticated %}
				<li class="nav-item pe-1">
					<span class="nav-link text-primary">Welcome, {{ user.username }} Thanks for being with us!</span>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-linear-primary" href="{% url 'logout' %}"><i
							class="ti ti-logout me-2"></i>Logout</a>
				</li>
				{% else %}
				<li class="nav-item pe-1">
					<a class="nav-link btn btn-light" href="{% url 'login' %}"><i class="ti ti-lock me-2"></i>Sign
						In</a>
				</li>
				<li class="nav-item">
					<a class="nav-link btn btn-linear-primary" href="{% url 'register' %}"><i
							class="ti ti-user-filled me-2"></i>Join Us</a>
				</li>
				{% endif %}
			</ul>
		</nav>
	</div>
</header>
<!-- /Header -->